<main class="Home">
  <h1>Killer Party</h1>
  <section class="home__description">
    <p>
      Bienvenue dans le jeu <strong>Killer Party</strong>. Les règles sont
      simples, relevez les défis et vous gagnerez.
    </p>
    <p>
      Chaque défi réussi vous rapporte un point. Cependant, si un autre joueur
      vous surprend en train de réaliser un défi et parvient à expliquer le défi
      à voix haute, c'est ce joueur qui gagne un point.
    </p>
    <p>
      Si vous tentez de deviner le défi d'un autre joueur et que vous avez tord,
      vous ne pouvez plus réaliser de défi ni tenter de trouver celui d'un autre
      joueur pendant 15 minutes.
    </p>
    <p>Tous les défis peuvent être effectués à tout moment.</p>
    <p>Bonne chance et que la Killer Party commence !</p>
  </section>
  <a class="home__button" href="home">Commencer à jouer</a>
</main>
