/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700&family=Poppins:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  color: #e3e3e3;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  text-align: center;
  background-color: #111;
}

button {
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(176, 42, 42, 0.826);
  border: none;
  margin-inline: 5px;
  font-weight: bold;
}
